$font-primary: 'Poppins', Arial, sans-serif;
$primary: #3445b4;
$secondary: #44bef1;
$white: #fff;

#profile-wrapper {
    #sidebar {
        min-width: 270px;
        max-width: 270px;
        background: $primary;
        color: #fff;
        transition: all 0.3s;
        position: relative;

        button {
            transition: .3s all ease;
            &:hover, &:focus {
                text-decoration: none !important;
                outline: none !important;
                box-shadow: none !important;
            }
        }

        &.active {
            margin-left: -270px;
        }

        h1 {
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 30px;

            .logo {
                color: $white;

                span {
                    font-size: 14px;
                    color: $secondary;
                    display: block;
                }
            }
        }

        ul.components {
            padding: 0;
        }

        ul {
            li {
                font-size: 16px;
                >ul {
                    margin-left: 10px;
                    li {
                        font-size: 14px;
                    }
                }
                a {
                    padding: 10px 0;
                    display: block;
                    color: rgba(255, 255, 255, .6);
                    border-bottom: 1px solid rgba(255, 255, 255, .1);
                    span {
                        color: $secondary;
                    }
                    &:hover {
                        color: $white;
                    }
                }
                &.active {
                    >a {
                        background: transparent;
                        color: $white;
                    }
                }
            }
        }

        @media (max-width:768) {
            margin-left: -270px;
            &.active {
                margin-left: 0;
            }
        }

        .custom-menu {
            display: inline-block;
            position: absolute;
            top: 20px;
            right: 0;
            margin-right: -20px;
            transition: 0.3s;

            .btn {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                position: relative;

                i {
                    margin-right: -40px;
                    font-size: 14px;
                }

                &.btn-primary {
                    background: transparent;
                    border-color: transparent;

                    &:after {
                        z-index: -1;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        content: '';
                        transform: rotate(45deg);
                        background: $primary;
                        border-radius: 10px;
                    }

                    &:hover,
                    &:focus {
                        background: transparent !important;
                        border-color: transparent !important;
                    }
                }
            }
        }
    }


    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    #sidebarCollapse {
        span {
            @media (max-width:768px) {
                display: none;
            }
        }
    }

    #content {
        width: 100%;
        padding: 0;
        min-height: 100vh;
        transition: all 0.3s;
    }

}