#home {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    .banner {
        background-image: url(./banner-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: inherit;
        background-position: center center;
        
        overflow-y: hidden;
    }

    .banner .caption h2 {
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 0px;
        margin-bottom: 50px;
        font-size: 32px;
        font-weight: 700;
        color: #fff;
    }
}